
p {
	text-align:center;
}

td {
	
	text-align:center;
		}

/* lab three styles added  	*/
td.v2{
	font-style: italic;
}
	.albumimage{
		background-image: url("C:/Users/n0147198/swcguild/Pre-Work/Images/albumPageCover.jpg");
		height:290px;
		background-repeat:no-repeat;
		background-position:center;
		background-size: 300px 275px;
		}

		
/* lab four styles added */
		
	a {
		font-family: monospace;
		text-decoration: none;
		font-weight:mon;
	}
	
	a:hover {
		text-decoration: underline;
		background-color:gold;
	}	
	 
	
	
		
