
p {
	text-align:center;
}

td {
	
	text-align:center;
		}


		

/* lab three styles added  	
td.v2{
	font-style: italic;
}
	.albumimage{
		background-image: url("C:\Users\n0147198\swcguild\Pre-Work\Images\albumPageCover.gif");
		background-repeat: repeat;
		height:200px;
		}
*/
		
/* lab four styles added 
		
	a {
		font-family: monospace;
		text-decoration: none;
		font-weight:mon;
	}
	
	a:hover {
		text-decoration: underline;
		background-color:gold;
	}	
	 */
	
	/* this is also part of lab 3
	@font-face{
		font-family: myRestaurant;
		font-style: normal;
		font-weight:300;
		src url("http://http://www.fonts2u.com/sansation-light.font");
	}	
	*/	
