
h1.h {
	font-size:40px;
	text-align:center;
}

h3{
	text-align:left;
}

h4.f {
	font-size:13px;
}

table {
	/*border: 1px solid black;
	width: 100%;*/
}

div.hf {
	text-align:center;
	font-weight:bold;
}
div.dt{
	text-align:center;
	border-style:solid;
	border-width:1px;
	height:150px;
	width:400px;
	margin:auto;
}
h1.m{
	font-size:22px;
	}
	
	a { 
		font-family: monospace;
		text-decoration: none;
		font-weight: normal;
	}
	
	a:link{
		color:blue;
		text-decoration:none;
	}
	
	a:visited{
		color:OrangeRed;
		text-decoration:none;
	}
	
	a:hover{
		text-decoration:none;
		font-weight:bold;
	}
	
	a:active{
		color:green;
		text-decoration:none;
	}
		
@font-face {
		font-family: myRestaurant;
		font-style: normal;
		font-weight:300;
		src url("http://http://www.fonts2u.com/sansation-light.font");
}
